<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.dubaicovid19">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.LOCAL_MAC_ADDRESS" tools:ignore="ProtectedPermissions"/>
    <uses-feature    android:name="android.hardware.bluetooth_le" android:required="false"/>
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:name=".CovidTrackerApp"
        android:allowBackup="true"
        android:icon="@mipmap/icon_sq_covid"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_covid_circle"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.activities.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activities.RegistrationActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />
        <activity android:name=".view.activities.MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />
        <activity android:name=".view.activities.LocationPickerActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />
        <activity android:name=".view.activities.OTPActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />
        <activity android:name=".view.activities.RiskActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />
        <activity android:name=".view.activities.BluetoothDetection"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />
        <activity android:name=".view.activities.ScanResultActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />
        <activity android:name=".view.activities.LanguageActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />
        <!--        <service-->
<!--            android:name=".utility.services.LocationService"-->
<!--            android:permission="android.permission.BIND_JOB_SERVICE" />-->
        <service android:name=".utility.services.CovidLocationService" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBUIv5pW26QPN7ZHqGRhtsng8Xb8zUHt80"/>
    </application>

</manifest>